body {
  font-family: "Work Sans";
}

i.fas,
i.fa,
i.far,
i.fab {
  vertical-align: middle;
}

.card {
  overflow: hidden;
}

/* NAVBAR */

.navbar .navbar-nav .nav-link {
  margin-right: 20px;
  text-transform: uppercase;
}

.navbar .btn-primary {
  border-radius: 0;
}

/* UTILITIES */

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.px-20 {
  padding: 20px 0px;
}

.btn-md {
  padding: 12px 18px;
}

.stick {
  width: 35%;
  height: 1px;
  background-color: #adb5bd;
}

.icon-sm {
  min-width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* ANIMATIONS */

.rotate {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* HERO */

.hero-img {
  background-image: url("../img/drive.jpg");
  height: 50vh;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
}

/* GALLERY */

.gallery {
  display: flex;
}

.gallery-col {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.gallery-col img {
  width: 100%;
  margin: 2px;
}

/* REVIEWS */

.tire-img {
  max-height: 60px;
}

.carousel {
  min-height: 430px;
}

.carousel-control-prev {
  transform: translateX(-100%);
}

.carousel-control-next {
  transform: translateX(100%);
}

.carousel-indicators {
  transform: translateY(200%);
}

.avatar {
  border-radius: 100%;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  background-color: #343a40;
  color: #868e96;
  font-weight: 800;
  font-size: 44px;
}

/* FOOTER */

#footer {
  padding: 10px 0;
  background-color: #000;
  color: white;
}

/* MEDIA QUERIES */

/* XS */
@media screen and (max-width: 576px) {
  .hero-img {
    height: 30vh;
  }
}

/* SM */
@media screen and (max-width: 768px) {
  .gallery {
    flex-wrap: wrap;
  }

  .gallery-col {
    width: 50%;
  }

  .carousel {
    min-height: 480px;
  }
}
